.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #F9FAFB;
  border: none;
}

.noBrandContainer {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noBrandContent {
  text-align: center;
}

.noBrandText {
  color: #4B5563;
  margin-bottom: 1rem;
}

.goToDashboardButton {
  padding: 0.5rem 1rem;
  background-color: #2563EB;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.goToDashboardButton:hover {
  background-color: #1D4ED8;
}

.tabsContainer {
  padding: 1.5rem 2rem 1rem;
  border-bottom: 1px solid #E5E7EB;
  background-color: #F9FAFB;
  display: flex;
  justify-content: center;
}

.tabsList {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.tabButton {
  padding: 10px 12px;
  height: 50px;
  width: 223px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tabButtonActive {
  background: linear-gradient(95.82deg, #00bfa6, #58c7ff 50%, #0d3b66);
  color: white;
  box-shadow: none;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #f9fafb;
  text-align: center;
}

.tabButtonInactive {
  background-color: white;
  color: #6B7280;
  border: 1px solid #888e98;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: #888e98;
  text-align: center;
}

.tabButtonInactive:hover {
  background-color: #F9FAFB;
  border-color: #D1D5DB;
}

.tabContent {
  flex: 1;
  overflow-y: auto;
}

.comingSoonContainer {
  padding: 2rem;
}

.comingSoonText {
  color: #4B5563;
}