.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 12px;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  text-align: left;
}

.input {
  width: 100%;
  height: 45px;
  padding: 7px 17px 7px 12px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 7.3px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #0a0a0a;
  outline: none;
  transition: all 0.2s;
}

.input:focus {
  border-color: #00bfa6;
  box-shadow: 0px 2px 7.3px 0px rgba(0, 191, 166, 0.3);
}

.input:read-only:focus {
  border-color: black;
  box-shadow: 0px 2px 7.3px 0px rgba(0, 0, 0, 0.12);
}

.input::placeholder {
  color: #0a0a0a;
}

.input:disabled,
.input:read-only {
  opacity: 0.7;
  cursor: default;
}
