.card {
  flex: 1;
  min-height: 90px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 7.3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  overflow: hidden;
}

.cardContent {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cardIconWrapper {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIconWrapper > :global(svg) {
  width: 30px;
  height: 30px;
}

.cardTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #0a0a0a;
}

.chevronButton {
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chevronCircle {
  width: 30px;
  height: 30px;
  background-color: #0a0a0a;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevronIcon {
  width: 7px;
  height: 15px;
}

.clickable {
  cursor: pointer;
  transition: all 0.2s;
}

.clickable:hover {
  opacity: 0.9;
}

.clickable:active {
  transform: scale(0.99);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}


@media (max-width: 768px) {
  .card {
    padding: 20px 20px;
  }

  .cardIconWrapper {
    width: 28px;
    height: 28px;
  }

  
  .cardTitle {
    font-size: 16px;
  }

  .chevronCircle {
    width: 28px;
    height: 28px;
  }

  
}